:root {
  --main-color: #00FF00;
  --secondary-color: #006600;
  --main-back-color: #000000;
  --sec-back-color: #333333;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  background-color: var(--main-back-color);
  background-image: linear-gradient(to bottom, var(--sec-back-color), var(--main-back-color));
}

body {
  position: relative;
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  margin: 0;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(var(--main-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#time {
  font-size: 24vw;
}

#date {
  font-size: 8.4vw;
}

#week {
  font-size: 16vw;
  align-items: flex-start;
}